.card {
    background-color: rgba(255, 153, 0, 0.3);
    height: 944px;
    width: 235px;
    padding: 25px;
    position: sticky;
    top: 0;
    margin-top: -50px;
    margin-left: 20px;
}

.btn-clear-card {
    width: 90%;
    height: 56px;
    font-size: 21px;
    align-items: center;
    margin: 10px auto;
    background-color: hsl(0, 100%, 59%);
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;

}